.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore node_modules directory (used for the prettier plugin)
node_modules

# Don't check in gradle.properties with tokens/auth
gradle.properties

# Ignore bin folder (not sure yet where this is created)
bin

# Ignore the lib folder
lib

# Ignore eclipse settings
.project
org.eclipse.*
.classpath
